<configuration scan="true">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/trustedanalytics/scoring/application.log</file>
        <encoder>
            <pattern>%date - [%level] - from %logger in %thread %message %n%ex{full}%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger{15} - %message %n %ex{short}%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO" />
    <logger name="application" level="INFO" />
    <logger name="scala.slick" level="INFO" />
    <!--
        log levels
        TRACE
        DEBUG
        INFO
        WARN
        ERROR
    -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
