package/config/trustedanalytics-tar/jq filter=lfs diff=lfs merge=lfs -text
**daal.tar.gz filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.so* filter=lfs diff=lfs merge=lfs -text
