*~
application.home_IS_UNDEFINED
atlassian-ide-plugin.xml
/bin
build
BUILD
.cache
*.class
.classpath
*clean*.sh
.coverage
cscope*
data
dependency-reduced-pom.xml
dev.conf
*.diff
dist
download
.ensime*
git
.idea
*/.idea/tasks.xml
*/.idea/workspace.xml
*.iml
*.jar
largegit.sh
make.sh
.metadata*
*.orig
*parse*.sh
*partition*.sh
*.patch
patches-*
pig_*.log
.project
*.pyc
/python-client/cover/
/python-client/.coverage
/python-client/trustedanalytics/connections.py*
/python-client/trustedanalytics/core/docstubs*.py*
/python-client/nosetests.xml
.Rhistory
scratch.py
sdhu.xml
stats
*.swo
*.swp
tags
TAGS
target
*.tar.gz
testgraphs
virtpy
*.zip
